html, body {  
    margin: 0;
}
#imagem_fundo {
    background: url("fundo.jpg");
    height: 800px;
    text-align: center;
    background-size: cover;
}
header{
    background-color: royalblue;
    color: rgb(219, 198, 208);
    height: 60px;
    width: 100%;
    position: fixed;
    margin-top: -28px;
    
}

#menu {
    float: right;
    margin-right: 10%;
    list-style: none;
}

li {
    float: left;
    padding: 15px 1px 10px 15px ;
}

li:hover {
    background-color:blue;

}
#titulo {
    color: rgb(70, 65, 65);
    padding-top: 07%;
    font-size: 40px;
    
    
}
#subtitulo {
    color:rgb(29, 28, 28);
    padding-left: 20%;
    padding-right: 20%;
    
}
#acao {
    color:rgb(81, 123, 240);
    border: 1px blue solid;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
}
#projeto {
    padding: 20px; 
} 
.icone {
    width: 51px;

}
#selecao {
    padding: 20px;
    text-align: center;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
.justificado {
    text-align: justify;
}
.colunaquatro {
    float: left;
    padding: 44 5%;
    position: relative;
    width: 23%;
}
#ods {
    width: 25%;
    margin-left: 350px;   
}

#odsdois {
    margin-top: 361px;   ;
}

#sobre_mim {
    clear: both;
    padding: 0 5%;
    width: 50%;
}

footer {
    background-color: rgb(156, 156, 226);
    float: left;
    text-align:center;
}
